---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyCtaYikeM-Ghvnn7EUdUXTakZxmnyXpJdY&latlng=39.749598000000006,-105.0004297
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "1501",
                       "short_name" : "1501",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Blake Street",
                       "short_name" : "Blake St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "LoDo",
                       "short_name" : "LoDo",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                       "long_name" : "De[...]
