<div class="map-box">
  <div class="search">
    <%= form_tag :bracks,  method: :get do %>
        <%= text_field_tag :q, "Find nearest bike rack...", class: 'form-control' %>
    <% end %>
  </div>
  <!-- <input id="pac-input" class="controls" type="text" placeholder="Search Box"> -->
  <hr>
  <div id="map"></div>
  <div tabindex="0" class="racks-index racks-hide">
    <h3>Show nearest racks <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></h3>
  </div>
  <div class="racks-index racks-show">
    <div tabindex="0" class="nearest-rack-header">
      <h3>Nearest racks <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></h3>
    </div>
    <div class="nearest-racks">
    </div>
  </div>
</div>

<script async defer
  src=<%="https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAP_KEY']}"%>>
</script>
