<div class="map-box">
  <div class="search">
    <%= form_tag :bracks,  method: :get do %>
        <%= text_field_tag :q, "Find nearest bike rack...", class: 'form-control' %>
    <% end %>
  </div>
  <hr>
  <div id="map">

  </div>
</div>

<script async defer
  src=<%="https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAP_KEY']}&callback=initMap"%>>
</script>
