<div class="map-box">
  <input id="pac-input" class="controls" type="text" placeholder="Find nearest bike rack...">
  <hr>
  <div id="map"></div>
  <div tabindex="0" class="racks-index racks-hide">
    <h3>Show nearest racks <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></h3>
  </div>
  <div class="racks-index racks-show">
    <div tabindex="0" class="nearest-rack-header">
      <h3>Nearest racks <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></h3>
    </div>
    <div class="nearest-racks">
    </div>
  </div>
</div>

<script async defer
  src=<%="https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAP_KEY']}&libraries=places"%>>
</script>
