<h1>Add a New Rack</h1>

<div class="map-box">
  <h5>Input nearest address to new bike rack:</h5>
  <input id="pac-input" class="controls" type="text" placeholder="Search">
  <hr>
  <div id="map"></div>
  <div tabindex="0" class="new-next">
    <h3>Save Rack Location</h3>
  </div>
</div>
