function Brack(rawBrack) {
  this.latLng = rawBrack.getPosition();
  this.distance = Number(rawBrack.distance).toFixed(2)
  this.cross_streets = rawBrack.cross_streets
  this.owner = rawBrack.owner
}

Brack.prototype.contentString = function() {
  return `<div>
    <h4><%= image_tag("b-icon.png", alt: "bike icon", width:30)%> ${this.distance} miles away</h4>
    <p>${this.cross_streets}<p>
    <p>Owner: ${this.owner}<p>
 </div>`
}

// FoodMeal.prototype.toHTML = function() {
//   return `<tr class="food-meal" data-id=${this.id}>
//             <td class="name">${this.name}</td>
//             <td class="calories">${this.calories}</td>
//             <td><i class="fa fa-close"></i></td>
//           </tr>`
// }
//
// FoodMeal.totalRow = function(totalCalories) {
//   return `<tr class="total-calories-row">
//           <th>Total Calories</th>
//           <th class="total-calories">${totalCalories}</th>
//           <th></th>
//         </tr>`
// }
//
// FoodMeal.remainingRow = function(mealId, totalCalories) {
//   var goalLookup = {
//     1: 400,
//     2: 600,
//     3: 800,
//     4: 200
//   }
//   return `<tr class="remaining-calories">
//           <th>Remaining Calories</th>
//           <th class="remaining positive-value">${goalLookup[mealId] - totalCalories}</th>
//           <th></th>
//         </tr>`
// }
//
// FoodMeal.mealFoodsToHTML = function(id) {
//   return this.getFoodsForMeal(id)
//   .then(function(foodMeals){
//     return foodMeals.map(function(foodMeal){
//       return new FoodMeal(foodMeal);
//     })
//   })
//   .then(function(foodMeals) {
//     return foodMeals.map(function(foodMeal) {
//       return {
//         mealId: foodMeal.mealId,
//         calories: foodMeal.calories,
//         html: foodMeal.toHTML()};
//     })
//   })
// }
//
// FoodMeal.addFoodToMeal = function(mealId, foodId) {
//   return $.post(`${host}/api/food_meals`, { mealId: mealId, foodId: foodId})
// }
//
// FoodMeal.getFoodsForMeal = function(id) {
//   return $.getJSON(`${host}/api/meals/${id}`)
// }
//
// FoodMeal.deleteFoodOnMeal = function(id) {
//   return $.ajax({
//     url: `${host}/api/food_meals/` + id,
//     method: 'DELETE',
//     success: function(){}
//   })
// }
//
// module.exports = FoodMeal
