function Brack(rawBrack) {
  this.latLng = rawBrack.getPosition();
  this.distance = Number(rawBrack.distance).toFixed(2)
  this.cross_streets = rawBrack.cross_streets
  this.owner = rawBrack.owner
}

Brack.prototype.contentString = function() {
  var nav_url = `https://www.google.com/maps/dir/?api=1&destination=${this.latLng.lat()},${this.latLng.lng()}&travelmode=bicycling`
  return `<div class="brack-window">
    <h4><%= image_tag("b-icon.png", alt: "bike icon", width:30)%> ${this.distance} miles away</h4>
      <div class="flex-container">
        <div class="bigitem">
          <p>${this.cross_streets}<p>
          <p>Owner: ${this.owner}<p>
        </div>
        <div class="smallitem">
          <a target="_blank" href=${nav_url}>
            <span id="${this.latLng.lat()},${this.latLng.lng()}" class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
          </a>
        </div>
      </div>
    </div>
 </div>`
}
